Package: com.hoduyluong.nhaccutuivip
Name: NhacCuaTuiVip
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Ho Duy Luong
Author: Ho Duy Luong
Section: Tweaks
